{% extends "base.html" %}

{% block title %}{{ gettext("Server Error") }}{% endblock %}

{% block extra_headers %}
    <style>
        main {
            display: flex;
            align-items: center;
            font-size: 2em;
            text-align: center;
            max-width: unset;
            padding: 50px;
            justify-content: center;
            flex-direction: column;
            gap: 10px;
        }
    </style>
{% endblock %}

{% block content %}
    <h1>{{ gettext("500 - Server Error") }}</h1>
    <p>{{ gettext("Oops! Something went wrong on our end.") }}</p>
    <a href="/">{{ gettext("Return to home") }}</a>
{% endblock %}
