{% extends "skeleton.jinja" %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="under-construction">
    <h1>Under construction</h1>
    <p>Something amazing is being built here. Come back later.</p>
</div>
{% endblock %}
