{% extends "base.html" %}

{% block title %}Index{% endblock %}

{% block extra_headers %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/index.css') }}" />
    <style>
        main {
            display: flex;
            align-items: center;
            font-size: 2em;
            text-align: center;
            max-width: unset;
            padding: 50px;
            justify-content: center;
            flex-direction: column;
            gap: 100px;
        }

        #searchbar-big {
            font-size: 0.5em;
        }

        #searchbar-big input {
            font-size: 1em;
            padding: 10px;
            border-radius: 20px 0 0 20px;
            border-width: 2px;
        }

        #searchbar-big button {
            font-size: 1em;
            padding: 10px;
            border-width: 2px;
            border-radius: 0 20px 20px 0;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="searchcontainer" id="searchbar-big">
        <form action="/search" method="GET" class="searchbar">
            <input type="text" name="q" placeholder="Search for a place..." required />
            <button type="submit"><i class="fa-solid fa-arrow-right"></i></button>
        </form>
        <div class="search-results"></div>
    </div>
{% endblock %}
