{% extends "skeleton.jinja" %}

{% block title %}Home{% endblock %}

{% block content %}
    {% if recent_places %}
        <nav class="recent-places">
            <p class="recent-places-label">Recent</p>
            <ol class="recent-places-list">
                {% for place in recent_places %}
                    <li class="recent-place-item">
                        <a href="{{ url_for('weather', place_id=place.place_id) }}"
                           class="recent-place">{{ place.name }}{%- if place.state -%}, {{ place.state }}{%- endif -%}, {{ place.country }}</a>
                    </li>
                {% endfor %}
            </ol>
        </nav>
    {% endif %}
{% endblock %}
