{% extends "base.html" %}

{% block extra_headers %}
    <link rel="stylesheet" href="{{ url_for('static', filename='search.css') }}" />
{% endblock %}

{% block content %}
    <div id="search-opts">
        {% for opt in opt_list %}
            <a href="/weather/{{ encode_place_id(opt.lat, opt.lon) }}" class="opt">
                <img src="/static/flags/{{ opt.country | lower }}.svg" />
                <span class="opt-name">{{ opt.name }}</span>
                <span class="opt-country">{{ full_country(opt.country) }}</span>
                <span class="opt-coords">{{ opt.lat }}, {{ opt.lon }}</span>
                <span class="opt-region">{{ opt.state }}</span>
            </a>
        {% endfor %}
    </div>
{% endblock %}
