{% extends "base.html" %}

{% block title %}Weather for {{ place_data.name }}{% endblock %}

{% block page_title %}Weather for <strong>{{ place_data.name }}</strong>{% endblock %}

{% block extra_headers %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/tables.css') }}" />
{% endblock %}

{% block content %}
    {% for key, value in table_data.items() %}
        {% if value is iterable and value is not string and key != "current" %}
            <h2>{{ key }}</h2>
            <table>
                <tr>
                    {% for key, value in value[0].items() %}
                        <th>{{ key }}</th>
                    {% endfor %}
                </tr>

                {% for row in value %}
                    {% if row is iterable and row is not string %}
                        <tr>
                            {% for key, value in row.items() %}
                                <td>{{ value }}</td>
                            {% endfor %}
                        </tr>
                    {% else %}
                        <span>Bleh: {{ row }}</span>
                    {% endif %}
                {% endfor %}
            </table>
        {% endif %}
    {% endfor %}

{% endblock %}
