{% extends "base.html" %}

{% block title %}Weather for {{ place_info.name }}{% endblock %}

{% block extra_headers %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/weather.css') }}" />
{% endblock %}

{% block content %}
    <div id="place-info">
        <img src="/static/flags/{{ place_info.country_code | lower }}.svg" />
        <h1 id="place-info-name">{{ place_info.name }}</h1>
        <span id="place-info-coords">{{ weather_data.lat }}, {{ weather_data.lon }}</span>
    </div>
    <div id="current-weather">
        <img src="{{ get_icon(weather_data.current.weather.0.icon) }}">
        <span id="current-temp">{{ weather_data.current.temp }} °C</span>
        <span id="current-weather-title">{{ weather_data.current.weather.0.main }}</span>
    </div>
    {{ place_info }}
    {{ weather_data }}
{% endblock %}
