main {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

main > div {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#main-info-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

#place-info {
    display: grid;
    grid-template-rows: repeat(2, auto);
    grid-template-columns: 50px auto;
    gap: 0 10px;
    max-width: 500px;
}

#place-info img {
    grid-area: 1 / 1 / 3 / 2;
    align-self: center;
    width: 50px;
}

#place-info-name {
    grid-area: 1 / 2 / 2 / 3;
}

#place-info-coords {
    grid-area: 2 / 2 / 3 / 3;
    font-size: 0.8em;
    font-weight: 400;
    color: var(--oc-gray-6);
}

#current-weather-summary {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: repeat(3, auto);
    align-items: center;
    column-gap: 10px;
}

#current-icon {
    grid-area: 1 / 1 / 4 / 2;
    background: var(--oc-orange-2);
    border-radius: 100px;
}

#current-temp {
    grid-area: 1 / 2 / 2 / 3;
    font-size: 2.5em;
    font-weight: 900;
}

#current-feels-like {
    grid-area: 2 / 2 / 3 / 3;
    font-size: 1.3em;
    font-weight: 200;
}

#current-weather-title {
    grid-area: 3 / 2 / 4 / 3;
    font-weight: 900;
    padding-top: 5px;
    font-size: 1.3em;
}

#alerts {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.alert {
    background: var(--oc-orange-6);
    color: var(--oc-gray-0);
    font-weight: 500;
    font-size: 1.1em;
    padding: 15px 25px;
    display: grid;
    grid-template-areas:
        "icon event tags"
        "icon dt sender"
        "icon description description";
    align-items: center;
    gap: 0 15px;
    grid-template-columns: auto 1fr auto;
    border-radius: 15px;
}

.alert-yellow {
    background: var(--oc-yellow-7);
}

.alert-orange {
    background: var(--oc-orange-7);
}

.alert-red {
    background: var(--oc-red-7);
}

.alert-icon {
    grid-area: icon;
    font-size: 2.5em;
}

.alert-event {
    grid-area: event;
    font-size: 1.4em;
    font-weight: 900;
}

.alert-dt {
    grid-area: dt;
}

.alert-description {
    grid-area: description;
    margin-top: 10px;
}

.alert-tags {
    grid-area: tags;
    font-size: 0.9em;
    font-weight: 500;
    text-align: end;
}

.alert-sender {
    grid-area: sender;
    font-size: 0.9em;
    opacity: 0.8;
    font-weight: 400;
    text-align: end;
}

.weather-tiles {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
    font-size: 0.9em;
    background: var(--oc-gray-3);
    gap: 2px;
}

.weather-tile {
    padding: 10px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    background: var(--oc-gray-0);
    justify-content: center;
}

.weather-tile-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    font-size: 1.2em;
}

.weather-tile-title-result:has(img) {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.5ch;
}

.wind-arrow {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wind-arrow span {
    color: var(--oc-gray-0);
    padding: 5px;
    border-radius: 10px;
    font-size: 0.8em;
    background: var(--oc-orange-9);
}

.wind-arrow img {
    width: 50px;
}

.weather-tile-datetime i {
    color: var(--oc-teal-9);
}

.weather-tile-sunrise i,
.weather-tile-uv i {
    color: var(--oc-yellow-8);
}

.weather-tile-clouds i,
.weather-tile-visibility i,
.weather-tile-wind i,
.weather-tile-sunset i,
.weather-tile-snow i {
    color: var(--oc-gray-6);
}

.weather-tile-pressure i {
    color: var(--oc-orange-8);
}

.weather-tile-dewpoint i,
.weather-tile-humidity i,
.weather-tile-rain i {
    color: var(--oc-blue-8);
}

#today-and-tomorrow {
    display: flex;
    flex-direction: row;
    gap: 20px;
    flex-wrap: wrap;
}

#today-and-tomorrow > div {
    flex-grow: 1;
    min-width: 300px;
    width: min-content;
}

#minute-precipitation-container {
    display: flex;
    overflow: scroll;
    max-height: 500px;
    min-height: 50px;
}

.minute-precipitation-item {
    font-size: 0.7em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 10px;
}

.minute-precipitation-amount {
    color: var(--oc-blue-9);
    font-size: 1.1em;
}

.minute-precipitation-bar {
    background: var(--oc-blue-6);
    width: 100%;
    border: 1px solid white;
    min-height: 4px;
}

.minute-precipitation-dt {
    padding-inline: 3px;
    font-weight: 300;
}

#minute-precipitation-container:has(.minute-precipitation-item > *:hover) .minute-precipitation-item {
    opacity: 0.75;
}

.minute-precipitation-item:hover {
    opacity: 1 !important;
}

.minute-precipitation-item:has(*:hover) .minute-precipitation-amount {
    font-weight: 900;
}

.hourly-overview td {
    padding: 0 5px;
}

.hourly-details-row td {
    padding-bottom: 10px;
}

.hourly-time {
    font-size: 1.2em;
    font-weight: 900;
}

.hourly-icon img {
    width: 2em;
    background: var(--oc-orange-2);
    border-radius: 100px;
}

.hourly-feels-like {
    font-size: 0.9em;
    color: var(--oc-gray-8);
}

#daily-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.daily-item {
    display: grid;
    box-shadow: 0 1px 3px 0 #0000001a, 0 1px 2px -1px #0000001a;
    border: 1px solid var(--oc-gray-1);
    padding: 15px;
    border-radius: 10px;

    grid-template-columns: 6ch auto auto 1fr;
    grid-template-rows: repeat(5, auto);

    grid-template-areas:
        "date icon temp feels"
        "date icon max-min max-min"
        "date icon weather-title weather-title"
        "date icon weather-summary weather-summary"
        "details details details details";
    align-items: center;
    column-gap: 10px;
    row-gap: 5px;
}

.daily-date {
    grid-area: date;
    font-size: 1.5em;
    font-weight: 800;
    text-align: center;
}

.daily-icon {
    grid-area: icon;
    background: var(--oc-orange-2);
    border-radius: 100px;
    width: 70px;
}

.daily-temp {
    grid-area: temp;
    font-size: 1.4em;
}

.daily-feels-like {
    grid-area: feels;
    font-size: 0.9em;
    font-weight: 500;
    color: var(--oc-gray-6);
}

.daily-max-min {
    grid-area: max-min;
    font-weight: 300;
}

.daily-weather-title {
    grid-area: weather-title;
    font-size: 1.1em;
    font-weight: 800;
}

.daily-weather-summary {
    grid-area: weather-summary;
    font-size: 0.8em;
    color: var(--oc-gray-6);
}

.daily-item details {
    grid-area: details;
}

.hourly-details-row details {
    padding-left: 1em;
}

#maps-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px 10px;
}

.map-box > div {
    height: 300px;
}

.map-header {
    text-transform: capitalize;
    font-size: 1.4em;
    font-weight: 500;
}

.map-box {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
